* {
    color: white;
}

/* estilização do menu */
  
ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li a {
    text-decoration: none;
    margin: 20px;
}
  
.mobileMenu {
    display: none;
}

.mobileMenu ul li {
    display: none;
} 

    /* Estilização do conteudo */

body {
    background-color: black;
    font-size: 20px;
    text-indent: 20px;
    font-family: arial, sans-serif; 
}


.blocks__chain {
   display: flex;
   justify-content: center;
   align-items: center;
}

img {
    border-radius: 20px;
    width: 65%;
}

.coins__bits {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilização do menu mobile */

@media screen and (max-width: 700px) {

    
    .mobileMenu {
        display: grid;
        grid-template-areas: 
        "Página Inicial Blockchain Criptomoedas";
        grid-template-columns: 3fr 4fr;
        text-align: center;
        justify-items: center;
    }
    
    .logo__imagem > img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        display: block;
        border-radius: 1.2rem;
    }
   
    .list ul li {
        display: none;
    }
  
    .mobileMenu ul {
       display: block;
    }
  
    .mobileMenu ul li {
        display: block;
        padding-top: 1.0rem;
    }

    .mobileMenu ul li a {
        text-decoration: none;
        font-size: 16px;  
    }

    body {
        text-indent: 10px;
      }
  
  }