    
* {
    color: white;
}

.mobile-menu {
    display: none;
}

ul {
    list-style-type: none;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
}


body {
    background-color: black;
    font-size: 20px;
    text-indent: 20px;
    font-family: arial, sans-serif; 
}

img {
    border-radius: 20px;
    width: 75%;
}

.bit__con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre__imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 700px) {

    .mobile-menu {
        display: none;
    }

    ul {
        list-style-type: none;
        padding: 20px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    li a {
        display: block;
        text-decoration: none;
        padding: 8px 16px;
    }
    

    img {
        border-radius: 20px;
        width: 75%;
    }
    
    .bit__con {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sobre__imagem {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 

@media (max-width: 699px) {

    .mobile-menu {
        display: block;
        padding: 10px;
    }

    .nav__list {
        display: none;
    }

    .mobile-menu#burguer {
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
}

}      

