    
* {
    padding: 0;
    margin: 0;
    color: white;
}

/* estilização do menu */
  .content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list {
    display: flex;
    align-items: center;
  }
  
  .list ul {
   display: flex;
   justify-content: center;
   list-style: none;
  }
  
  .list ul li {
   margin: 0 15px; 
  }
  
  .list ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  }
  
  span#icon-menu {
    display: none;
  }
  
  #mobileMenu {
    display: none;
  }

  #mobileMenu ul li {
    display: none;
  }

/* Estilização do conteudo */

body {
    background-color: black;
    font-size: 20px;
    text-indent: 20px;
    font-family: arial, sans-serif; 
}

img {
    border-radius: 20px;
    width: 75%;
}

.bit__con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre__imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilização do menu mobile */

@media screen and (max-width: 750px) {
    .content {
        padding: 1.5rem 4rem;
    }
  
    .list ul li {
        display: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
  
    span#icon-menu {
        display: block;
        cursor: pointer;
    }

    #mobileMenu {
        display: block;
    }
  
    #mobileMenu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
  
    #mobileMenu ul li {
        display: block;
        padding-top: 1.2rem;
    }

    #mobileMenu ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        font-weight: 500
    }
  
  
  }

