    
* {
    color: white;
}

/* estilização do menu */

ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li a {
    text-decoration: none;
    margin: 20px;
}
  
span#icon-menu {
    display: none;
}
  
.mobileMenu {
    display: none;
}

.mobileMenu ul li {
    display: none;
}

/* Estilização do conteudo */

body {
    background-color: black;
    font-size: 20px;
    text-indent: 20px;
    font-family: arial, sans-serif; 
}

img {
    border-radius: 20px;
    width: 75%;
}

.bit__con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre__imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilização do menu mobile */

@media screen and (max-width: 700px) {

    .mobileMenu {
        display: grid;
        grid-template-areas: 
        "Página Inicial Blockchain Criptomoedas";
        text-align: center;
        justify-items: start;  
    }
    
    .logo__imagem > img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }

    .list ul li {
        display: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
  
    span#icon-menu {
        display: block;
        cursor: pointer;
    }
  
    .mobileMenu ul {
        display: block;
    }
  
    .mobileMenu ul li {
        display: block;
        padding-top: 1.0rem;
    }

    .mobileMenu ul li a {
        text-decoration: none;
        font-size: 16px;
      }

    body {
      text-indent: 10px;
    }
  
  
  }

