* {
  color: white;
}

ul {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    margin: 2;
}

li a {
    text-decoration: none;
}

body {
    background-color: black;
}

p {
    font-size: 20px;
}

.principal__um{
    display: flex;
}

.principal__um__a img{
    width: 500px;
    height: 350px;
}

.principal__dois {
    display: flex;
}

.principal__dois__b img{
    width: 500px;
    height: 400px;
}

.principal__tres{
    display: flex;
}

.principal__tres__c img{
  width: 500px;
  height: 400px;
}

.principal__quatro {
    display: flex;
}

.principal__quatro__d img{
    width: 500px;
    height: 400px;
}